<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.project"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/iconapp"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.project.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.project.RegulatorActivity"
            android:label="@string/title_activity_regulator" >
        </activity>
        <activity
            android:name="com.example.project.ProcessActivity"
            android:label="@string/title_activity_process" >
        </activity>
        <activity
            android:name="com.example.project.PidParametersActivity"
            android:label="@string/title_activity_rparameters" >
        </activity>
        <activity
            android:name="com.example.project.PParametersActivity"
            android:label="@string/title_activity_pparameters" >
        </activity>
        <activity
            android:name="com.example.project.PiParametersActivity"
            android:label="@string/title_activity_pi_parameters" >
        </activity>
        <activity
            android:name="com.example.project.FopParametersActivity"
            android:label="@string/title_activity_fop_parameters" >
        </activity>
        <activity
            android:name="com.example.project.FopdtParametersActivity"
            android:label="@string/title_activity_fopdt_parameters" >
        </activity>
        <activity
            android:name="com.example.project.SopParametersActivity"
            android:label="@string/title_activity_sop_parameteres" >
        </activity>
        <activity
            android:name="com.example.project.PopUpAdvanceOptionsRegulator"
            android:label="@string/title_activity_pop_up_advance_options_regulator" >
        </activity>
        <activity
            android:name="com.example.project.PopUpAdvanceOptionsProcess"
            android:label="@string/title_activity_pop_up_advance_options_process" >
        </activity>
        <activity
            android:name="com.example.project.Graphics"
            android:label="@string/title_activity_graphics" >
        </activity>
    </application>

</manifest>